body, div, address, blockquote, iframe, ul, ol, li, dl, dt, dd, td, tr, th, thead, tbody, h1, h2, h3, h4, h5, h6, p, pre, caption, form, legend, fieldset, input, button, select, textarea {margin:0px;padding:0px;}
body {font-family:"宋体", Arial, Helvetica, sans-serif;font-size:12px;}
ol, ul {list-style: none;}
a img,img {border:0px;}
select {outline:none;-webkit-border-radius:0;}
input {outline:none;-webkit-border-radius:0;}
textarea,button {outline:none;-webkit-appearance:none;-webkit-border-radius:0;}
button {cursor:pointer;}
input[type="button"],input[type="submit"],input[type="image"],input[type="reset"] {webkit-appearance:none;cursor:pointer;}

.clear {clear:both;height:0px;overflow:hidden;}
.clearfix:after{content: "";display:block;height:0;clear:both;visibility:hidden;font-size:0;}
.clearfix{zoom:1;}

.left {float:left;}
.right {float:right;}
.none {display:none;}
.block {display:block;}
.bold {font-weight:bold;}
.textleft {text-align:left;}
.textcenter {text-align:center;}
.textright {text-align:right;}
.mt_5 {margin-top:5px;}
.mt_10 {margin-top:10px;}
.mt_15 {margin-top:15px;}
.mt_20 {margin-top:20px;}
.mt_25 {margin-top:25px;}
.mt_30 {margin-top:30px;}
.gots {white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.gotms {display:-webkit-box;text-overflow:ellipsis;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;}